html {
  font-size: 125%;
  text-align: center;
}
h1 {
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 3px 3px 2px olive;
  border-bottom: solid 3px rgb(115, 115, 114);
}
body {
  font-family: "Arial" , "Meiryo" , sans-serif;
}
.google-fonts {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}
.skyblue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192 , 203);
}
#basic {
  font-weight: bold;
}